<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erp.Custom.UI.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Erp.Custom.UI.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Erp.Custom.UI.Common.Properties.Settings.ConnectionDB"
            connectionString="Data Source=gollum;Initial Catalog=GSoft;Persist Security Info=True;User ID=sa;Password=sp3@rm1nt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Erp.Custom.UI.Common.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="asURL" serializeAs="String">
                <value>net.tcp://GOLLUM/E10Pilot</value>
            </setting>
        </Erp.Custom.UI.Common.Properties.Settings>
    </userSettings>
    <!--<applicationSettings>
        <Erp.Custom.UI.Common.Properties.Settings>
            <setting name="GuId" serializeAs="String">
                <value>114ba9a1-fef2-4c73-9cf4-44a173d15231</value>
            </setting>
        </Erp.Custom.UI.Common.Properties.Settings>
    </applicationSettings>-->
    <applicationSettings>
        <Erp.Custom.UI.Common.Properties.Settings>
            <setting name="GuId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </Erp.Custom.UI.Common.Properties.Settings>
    </applicationSettings>
</configuration>